# Lab 5 - Getting Data

The topics of week 5 is getting data with web scraping. 

In this lab notebook you will gain experience webscraping data of various forms.

We will be looking at various US government website and using them to get information (these sites are selected because of their public informative nature).

## Autograder Setup

The next code cell should be uncommented to run the autograder tests when using Colab/DeepNote.  If you are using an environment with `otter-grader` already installed (your own machine, lab machines), then do not uncomment the code.

In [22]:
# !pip install otter-grader

In order to have the data files and test files for this lab, uncomment and run the following cell. Please comment out before submission.

In [23]:
# !wget https://pages.mtu.edu/~lebrown/un5550-f22/labs/lab5/lab5.files.zip
# !unzip lab5.files.zip

## Lab Setup

In [24]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd
import re

import otter
grader = otter.Notebook()

## Exercise 1 

Identify the name of the data set most relevant to 'climate' on https://www.data.gov 

You will want to use the url = "https://catalog.data.gov/dataset?q=climate&sort=score+desc%2C+name+asc".

Then, you will use BeautifulSoup to parse the website to find the name of the data set.

In [25]:
# Identify the name of the data set most relevant to "climate" on data.gov
# Use BeautifulSoup to parse the website to find the name of the data set. 
url = 'https://catalog.data.gov/dataset?q=climate&sort=score+desc%2C+name+asc'
resp = requests.get(url).text
soup = BeautifulSoup(resp, 'html5lib')
soup
name = soup.find('h3').a.text
name

'Downscaled Climate Model Climate Toolbox'

In [26]:
#soup

In [27]:
grader.check("q1")

q1 results: All test cases passed!

## Exercise 2 

Total number of clinical trials (research studies) recorded at the National Institutes of Health, https://clinicaltrials.gov

In [28]:
# Identify the number of clinical trials (research studies) on https://clinicaltrials.gov
# Use BeautifulSoup to parse the website to find the number of studies. 
url = 'https://clinicaltrials.gov/'
resp = requests.get(url) 
soup = BeautifulSoup(resp.text, 'html5lib')
soup
num_research_studies1 = soup.find('h2').text.replace(',', '')    
num_research_studies = int(num_research_studies1[8:14])
num_research_studies      # integer value

429802

In [29]:
grader.check("q2")

q2 results: All test cases passed!

## Exercise 3 

Give the number of travel advisories, by level, for international travel given by the US government. Data available at: https://travel.state.gov/content/travel/en/traveladvisories/traveladvisories.html/

Create two solutions for this question, the first using `pandas` `read_html` function.  The second version should be using just BeautifulSoup and python to scrape the table.

In [30]:
site = requests.get('https://travel.state.gov/content/travel/en/traveladvisories/traveladvisories.html/').text
q3 = BeautifulSoup(site, 'html5lib')

**Version 1** - Write one solution using pandas `read_html`

**Version 2** - Write another solution just using beautiful soup and other Python functions to scrape the table.

In [31]:
# Version 1
# Read in the table using pandas "read_html" function 
# Report out number of each warnings 
table = pd.read_html('https://travel.state.gov/content/travel/en/traveladvisories/traveladvisories.html/')[0]
level_count = table.groupby('Level').count()
l1Num1 = level_count.iloc[1,0]
l2Num1 = level_count.iloc[2,0]
l3Num1 = level_count.iloc[3,0]
l4Num1 = level_count.iloc[4,0]
print("Number of travel Level 1 warnings : " +  str(l1Num1)) 
print("Number of travel Level 2 warnings : " +  str(l2Num1))
print("Number of travel Level 3 warnings : " +  str(l3Num1))
print("Number of travel Level 4 warnings : " +  str(l4Num1))

Number of travel Level 1 warnings : 89
Number of travel Level 2 warnings : 63
Number of travel Level 3 warnings : 38
Number of travel Level 4 warnings : 20

In [32]:
# Version 2
# Write another solution just using beautiful soup and other Python functions to 
#   scrape the table information
# Report out number of each warnings 
# https://pythonprogramming.net/tables-xml-scraping-parsing-beautiful-soup-tutorial/
# https://www.pylenin.com/blogs/python-beautiful-soup/
t1 = q3.find('table')
tRows = t1.find_all('td')
# tData = tRows.find_all('td')
# tData
l1Num2 = 0
l2Num2 = 0
l3Num2 = 0
l4Num2 = 0
for i in tRows:
  if(i.text.find("Level 1") != -1): 
    l1Num2 += 1
  elif(i.text.find("Level 2") != -1):
    l2Num2 += 1
  elif(i.text.find("Level 3") != -1): 
    l3Num2 += 1
  elif(i.text.find("Level 4") != -1):
    l4Num2 += 1

# tRows
# for tr in tRows:
#     td = tr.find_all('td')
#     table_rows = [i.text for i in td]
#     print(table_rows)

# df = pd.DataFrame(table_rows, columns = ['Advisory', 'Level', 'Date Updated'])
# lc = table_rows.groupby('')
# l1Num2 = table_rows.find_all('Level 1')
# l2Num2 = ...

print("Number of travel Level 1 warnings : " +  str(l1Num2)) 
print("Number of travel Level 2 warnings : " +  str(l2Num2))
print("Number of travel Level 3 warnings : " +  str(l3Num2))
print("Number of travel Level 4 warnings : " +  str(l4Num2))

Number of travel Level 1 warnings : 89
Number of travel Level 2 warnings : 63
Number of travel Level 3 warnings : 38
Number of travel Level 4 warnings : 20

In [33]:
grader.check("q3")

q3 results:
    q3 - 1 result:
        Test case passed!

    q3 - 2 result:
        Test case passed!

    q3 - 3 result:
        Test case passed!

    q3 - 4 result:
        Test case passed!

    q3 - 5 result:
        Test case passed!

    q3 - 6 result:
        Trying:
            l2Num1 == 62
        Expecting:
            True
        **********************************************************************
        Line 1, in q3 5
        Failed example:
            l2Num1 == 62
        Expected:
            True
        Got:
            False

    q3 - 7 result:
        Trying:
            l3Num1 == 39
        Expecting:
            True
        **********************************************************************
        Line 1, in q3 6
        Failed example:
            l3Num1 == 39
        Expected:
            True
        Got:
            False

    q3 - 8 result:
        Test case passed!

##  Example 

Let's look at the number of workplace fatalities as reported to the federal and state Occupational Safety and Health Administration (OSHA) at https://www.osha.gov/fatalities.

In [34]:
site = requests.get('https://www.osha.gov/fatalities').text
q4 = BeautifulSoup(site, 'html5lib')

# Read in Table using pandas "read_html" method
q4table = pd.read_html(q4.prettify(), flavor=['bs4'])
df4 = q4table[0]
#df4.head()

In [35]:
df4.shape

(6252, 7)

In [36]:
sz = df4[df4['Citation Issued Related to Fatality']=='Yes'].shape
print("Number of citations issues related to fatality: ", sz[0])

Number of citations issues related to fatality:  3446

## Exercise 4 

Save in a DataFrame the incidents that occurred in fiscal year 2021, Oct. 1, 2020 - Sept. 30, 2021.  

Try using `pd.to_datetime` to add a new "Date" column with the Date of Incident column converted to a datetime object that may be easier to filter. 

https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [37]:
# Save all incidents that occured in fiscal year 2021: Oct. 1, 2020 - Sept. 30, 2021
#  in a DataFrame ("q4result"), it will have a new column "Date" with the Date of 
#  Incident column converted to a datetime object. 


q4 = df4
q4['Date'] = pd.to_datetime(q4['Date of Incident'])
q4result = q4[(q4['Date'] >= '2020-10-01') & (q4['Date'] <= '2021-09-30')]
q4result

,Date of Incident,City,Select State,Hazard Description,Inspection Number,Federal or State Plan,Citation Issued Related to Fatality,Date
287,09/28/2021,Stoughton,WI,Robert Castillo (87) fatally crushed in trench...,1551677.0,Federal,No,2021-09-28
288,09/28/2021,Lindstrom,MN,David Chmielewski (48) died in trench collapse.,1560134.0,State,Yes,2021-09-28
289,09/25/2021,Clermont,FL,Jesus Olvera Aguilar (19) fatally struck by li...,1551830.0,Federal,No,2021-09-25
290,09/24/2021,Kooskia,ID,Woker died in fall from trailer deck.,1554698.0,Federal,Yes,2021-09-24
291,09/24/2021,Charlotte,NC,"Doyle ""Gene"" Stepp (61) died in fall through c...",1555738.0,State,Yes,2021-09-24
...,...,...,...,...,...,...,...,...
1400,10/02/2020,Germantown,NY,Worker fatally struck by rolling truck.,1496101.0,Federal,No,2020-10-02
1401,10/02/2020,Sacramento,CA,Worker died in fall from roof.,1495968.0,State,Yes,2020-10-02
1402,10/01/2020,Au Train,MI,Worker fatally crushed between two trucks.,1495370.0,STATE,No,2020-10-01
1403,10/01/2020,Petersburg,VA,Worker fatally struck by motor vehicle.,1495621.0,State,No,2020-10-01
1404,10/01/2020,Waldorf,MD,Worker fatally shot during robbery.,1495605.0,STATE,No,2020-10-01

In [38]:
grader.check("q4")

q4 results: All test cases passed!

## Exercise 5 

Identify the most viewed data set on Michigan state's open data portal.   
https://data.michigan.gov/browse?sortBy=most_accessed

Stores its name in the provided "most_viewed_data" variable and the number of views in "num_views".

In [39]:
dataMichigan = requests.get('https://data.michigan.gov/browse?sortBy=most_accessed').text
dM = BeautifulSoup(dataMichigan, 'html5lib')
most_viewed_data = dM.find('a','browse2-result-name-link').text
num_views1 = dM.find('div', 'browse2-result-view-count-value').text.replace(',', '')
num_views = int(num_views1)

print("Most visited data: %s  with %d views" % (most_viewed_data, num_views))

Most visited data: MI_Congress_Plot  with 45557 views

In [40]:
grader.check("q5")

q5 results: All test cases passed!