# Lab 7 - Relational Algebra 

This examples build on examples from Data100 and also Ch. 23 of the Data Science by Scratch book. 

In this lab notebook you will write functions to implement the basic relational algebra operators.

## Autograder Setup 

The next code cell should be uncommented to run the autograder tests when using Colab/DeepNote. If you are using an environment with otter-grader already installed (your own machine, lab machines), then do not uncomment the code.

In [ ]:
!pip install otter-grader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: otter-grader in /usr/local/lib/python3.7/dist-packages (4.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from otter-grader) (1.15.0)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from otter-grader) (6.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from otter-grader) (7.1.2)
Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (from otter-grader) (3.4.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from otter-grader) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from otter-grader) (2.23.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.7/dist-packages (from otter-grader) (5.7.0)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from otter-grader) (0.3.5.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from otter-grader) (2.11.3)
Requirement already satisfied: python-on-whales in /usr/local/lib/python3.7/dist-packages (from otter-grader) (0.52.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from otter-grader) (1.14.1)
Requirement already satisfied: jupytext in /usr/local/lib/python3.7/dist-packages (from otter-grader) (1.14.1)
Requirement already satisfied: fica>=0.2.0 in /usr/local/lib/python3.7/dist-packages (from otter-grader) (0.2.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from otter-grader) (0.4.6)
Requirement already satisfied: google-api-python-client in /usr/local/lib/python3.7/dist-packages (from otter-grader) (1.12.11)
Requirement already satisfied: sphinx in /usr/local/lib/python3.7/dist-packages (from fica>=0.2.0->otter-grader) (1.8.6)
Requirement already satisfied: docutils in /usr/local/lib/python3.7/dist-packages (from fica>=0.2.0->otter-grader) (0.17.1)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client->otter-grader) (0.17.4)
Requirement already satisfied: google-api-core<3dev,>=1.21.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client->otter-grader) (1.31.6)
Requirement already satisfied: google-auth<3dev,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client->otter-grader) (1.35.0)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client->otter-grader) (3.0.1)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client->otter-grader) (0.0.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client->otter-grader) (57.4.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client->otter-grader) (2022.4)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client->otter-grader) (21.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client->otter-grader) (1.56.4)
Requirement already satisfied: protobuf<4.0.0dev,>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client->otter-grader) (3.17.3)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3dev,>=1.16.0->google-api-python-client->otter-grader) (4.9)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3dev,>=1.16.0->google-api-python-client->otter-grader) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3dev,>=1.16.0->google-api-python-client->otter-grader) (0.2.8)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<3dev,>=1.21.0->google-api-python-client->otter-grader) (3.0.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3dev,>=1.16.0->google-api-python-client->otter-grader) (0.4.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->otter-grader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->otter-grader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->otter-grader) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->otter-grader) (1.24.3)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->otter-grader) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->otter-grader) (3.2.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->otter-grader) (2.0.1)
Requirement already satisfied: mdit-py-plugins in /usr/local/lib/python3.7/dist-packages (from jupytext->otter-grader) (0.3.1)
Requirement already satisfied: markdown-it-py<3.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from jupytext->otter-grader) (2.1.0)
Requirement already satisfied: toml in /usr/local/lib/python3.7/dist-packages (from jupytext->otter-grader) (0.10.2)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.7/dist-packages (from markdown-it-py<3.0.0,>=1.0.0->jupytext->otter-grader) (0.1.2)
Requirement already satisfied: typing_extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from markdown-it-py<3.0.0,>=1.0.0->jupytext->otter-grader) (4.1.1)
Requirement already satisfied: importlib-metadata>=3.6 in /usr/local/lib/python3.7/dist-packages (from nbformat->otter-grader) (5.0.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat->otter-grader) (4.11.1)
Requirement already satisfied: traitlets>=5.1 in /usr/local/lib/python3.7/dist-packages (from nbformat->otter-grader) (5.1.1)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.7/dist-packages (from nbformat->otter-grader) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat->otter-grader) (2.16.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3.6->nbformat->otter-grader) (3.9.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->otter-grader) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->otter-grader) (5.10.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat->otter-grader) (22.1.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->otter-grader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->otter-grader) (2.8.2)
Requirement already satisfied: typer>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from python-on-whales->otter-grader) (0.4.2)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from python-on-whales->otter-grader) (1.9.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from python-on-whales->otter-grader) (4.64.1)
Requirement already satisfied: babel!=2.0,>=1.3 in /usr/local/lib/python3.7/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (2.10.3)
Requirement already satisfied: snowballstemmer>=1.1 in /usr/local/lib/python3.7/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (2.2.0)
Requirement already satisfied: Pygments>=2.0 in /usr/local/lib/python3.7/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (2.6.1)
Requirement already satisfied: alabaster<0.8,>=0.7 in /usr/local/lib/python3.7/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (0.7.12)
Requirement already satisfied: imagesize in /usr/local/lib/python3.7/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (1.4.1)
Requirement already satisfied: sphinxcontrib-websupport in /usr/local/lib/python3.7/dist-packages (from sphinx->fica>=0.2.0->otter-grader) (1.2.4)
Requirement already satisfied: sphinxcontrib-serializinghtml in /usr/local/lib/python3.7/dist-packages (from sphinxcontrib-websupport->sphinx->fica>=0.2.0->otter-grader) (1.1.5)

In order to have the data files and test files for this lab, uncomment and run the following cell. 

**Please comment out these two cells before submission.**

In [ ]:
!wget https://pages.mtu.edu/~lebrown/un5550-f22/labs/lab7/lab7.files.zip
!unzip lab7.files.zip

--2022-10-13 21:59:19--  https://pages.mtu.edu/~lebrown/un5550-f22/labs/lab7/lab7.files.zip
Resolving pages.mtu.edu (pages.mtu.edu)... 141.219.70.232
Connecting to pages.mtu.edu (pages.mtu.edu)|141.219.70.232|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3168 (3.1K) [application/zip]
Saving to: ‘lab7.files.zip’

lab7.files.zip      100%[===================>]   3.09K  --.-KB/s    in 0s

2022-10-13 21:59:20 (644 MB/s) - ‘lab7.files.zip’ saved [3168/3168]

Archive:  lab7.files.zip
   creating: tests/
  inflating: tests/q5.py
  inflating: tests/q1.py
  inflating: tests/q4.py
  inflating: tests/q8.py
  inflating: tests/q3.py
  inflating: tests/q7.py
  inflating: tests/q6.py
  inflating: tests/q2.py

*Remember that you answers will potentially be evaluated on additional hidden test cases as well as manual code review.*

## Lab Setup

In [ ]:
import numpy as np
import pandas as pd

import otter
grader = otter.Notebook()

# Huskies Sailing Club

The Huskies Sailing Club wants to better organize their user data. Your first job is to implement code relational algebra operators in Python. 

You may want to refer to the [pandas](http://pandas.pydata.org/pandas-docs/stable/) documentation. 

Here are the Sailing Club's databases.  Your job implement a variety of unary and binary relational algebra operators.

In [ ]:
young_sailors = pd.DataFrame({
        "sid":      [2701, 18869, 63940, 21869, 17436],
        "sname":    ["Grace", "Morgan", "Anne", "Jack", "Dustin"],
        "rating":   [8, 6, 4, 9, 3],
        "age":      [25, 26, 21, 27, 22],
    })
salty_sailors = pd.DataFrame({
        "sid":      [2701, 17436, 45433, 22689, 46535],
        "sname":    ["Grace", "Dustin", "Balon", "Euron", "Victarion"],
        "rating":   [8, 3, 7, 10, 2],
        "age":      [25, 22, 39, 35, 37],
    })
boats = pd.DataFrame({
        "bid":      [41116, 54505, 50041, 35168, 58324],
        "bname":    ["The Black Sparrow", "The Great Kraken", "The Prophetess", "Silence", "Iron Victory"],
        "color":    ["Black", "Orange", "Silver", "Red", "Grey"],
    })
reservations = pd.DataFrame({
        "sid":      [21869, 45433, 18869, 22689, 21869, 17436, 63940, 45433, 21869, 18869],
        "bid":      [41116, 35168, 50041, 41116, 58324, 50041, 54505, 41116, 50041, 41116],
        "day":      ["3/1", "3/1", "3/2", "3/2", "3/2", "3/3", "3/3", "3/3", "3/3", "3/4"],
    })

In [ ]:
young_sailors

     sid   sname  rating  age
0   2701   Grace       8   25
1  18869  Morgan       6   26
2  63940    Anne       4   21
3  21869    Jack       9   27
4  17436  Dustin       3   22

In [ ]:
salty_sailors

     sid      sname  rating  age
0   2701      Grace       8   25
1  17436     Dustin       3   22
2  45433      Balon       7   39
3  22689      Euron      10   35
4  46535  Victarion       2   37

In [ ]:
boats

     bid              bname   color
0  41116  The Black Sparrow   Black
1  54505   The Great Kraken  Orange
2  50041     The Prophetess  Silver
3  35168            Silence     Red
4  58324       Iron Victory    Grey

In [ ]:
reservations

     sid    bid  day
0  21869  41116  3/1
1  45433  35168  3/1
2  18869  50041  3/2
3  22689  41116  3/2
4  21869  58324  3/2
5  17436  50041  3/3
6  63940  54505  3/3
7  45433  41116  3/3
8  21869  50041  3/3
9  18869  41116  3/4

## Exercise 1: Projection

Create a function `project` that takes as arguments a dataframe and a list of columns to select and returns the projection.

In [ ]:
def project(df, columns):     
    return df[columns]


df1a = project(salty_sailors, ["sname", "age"])
df1b = project(boats, ["color"])

In [ ]:
# df1a = project(salty_sailors, ["sname", "age"])
df1a
# df1b = project(boats, ["color"])
# df1b

       sname  age
0      Grace   25
1     Dustin   22
2      Balon   39
3      Euron   35
4  Victarion   37

Example test:  
The output for `project(salty_sailors, ["sname", "age"])` should be: 

|   | sname  |  age  | 
|---|--------|-------|
| 0 | Grace  | 25    |
| 1 | Dustin | 22    | 
| 2 | Balon  | 39    | 
| 3 | Euron  | 35    | 
| 4 | Victarion | 37 |

In [ ]:
grader.check("q1")

q1 results: All test cases passed!

## Exercise 2: Selection 

Create a function `select` that has arguments of a data frame and a condition (function) which determines which rows to select. 

For example: 
`good_sailors = select(young_sailors, lambda x: x["rating"] > 6)`

In [ ]:
def select(df, condition):     
    return df[condition]

dfq2 = select(young_sailors, lambda x: x["rating"] > 6)
dfq2

     sid  sname  rating  age
0   2701  Grace       8   25
3  21869   Jack       9   27

The output for `select(young_sailors, lambda x: x["rating"] > 6)` should be:

|   | sid   | sname  | rating | age |
|---|-------|--------|--------|-----|
| 0 | 2701  | Grace  | 8      | 25  |
| 3 | 21869 | Jack   | 9      | 27  |

In [ ]:
grader.check("q2")

q2 results: All test cases passed!

## Exercise 3: Union 

Create a function, `union`, (a binary operator) that takes two dataframes as input.  You can assume the two dataframes are union compatible (that is, they have the same number of columns, and their columns have the same types).  Return the result of the union operation.  Assume set semantics, that is, duplicates should be removed.

In [ ]:
def union(df1, df2):     
    return pd.concat([df1,df2]).drop_duplicates().reset_index(drop=True)

df3 = union(young_sailors, salty_sailors)
df3

     sid      sname  rating  age
0   2701      Grace       8   25
1  18869     Morgan       6   26
2  63940       Anne       4   21
3  21869       Jack       9   27
4  17436     Dustin       3   22
5  45433      Balon       7   39
6  22689      Euron      10   35
7  46535  Victarion       2   37

The output for `union(young_sailors, salty_sailors)` should be:

|   | sid   | sname    | rating | age |
|---|-------|----------|--------|-----|
| 0 | 2701  | Grace    | 8      | 25  |
| 1 | 18869 | Morgan   | 6      | 26  | 
| 2 | 63940 | Anne     | 4      | 21  | 
| 3 | 21869 | Jack     | 9      | 27  | 
| 4 | 17436 | Dustin   | 3      | 22  | 
| 2 | 45433 | Balon    | 7      | 39  | 
| 3 | 22689 | Euron    | 10     | 35  | 
| 4 | 46535 | Victarion | 2     | 37  |

In [ ]:
grader.check("q3")

q3 results: All test cases passed!

## Exercise 4: Intersection 

Write a function to perform the binary operation of Intersection.

In [ ]:
def intersection(df1, df2):     
    return pd.merge(df1, df2, how="inner")

df4 = intersection(young_sailors, salty_sailors)

In [ ]:
df4

     sid   sname  rating  age
0   2701   Grace       8   25
1  17436  Dustin       3   22

The output for `intersection(young_sailors, salty_sailors)` should be:

|   | sid   | sname    | rating | age |
|---|-------|----------|--------|-----|
| 0 | 2701  | Grace    | 8      | 25  |
| 1 | 17436 | Dustin   | 3      | 22  |

In [ ]:
grader.check("q4")

q4 results: All test cases passed!

## Exercise 5: Set Difference 

Write a function to perform the set difference operation.  This one is a bit harder.  You may want to convert rows of the dataframe to a tuple, if you are having trouble. Alternatively, you could consider using the `isin` method.

In [ ]:
def difference(df1, df2): 
    # Assume inputs df1 and df2 are same schema 
    # Make sure your returned DataFrame has the same data types as the 
    #  input DataFrames 
    # Make sure to not change the original data frames passed as 
    #  inputs 
    # ...
    # print(df1.__class__)
    # records = df.to_records(index=False)
    # df1_list = list(df1.to_records(index=False))
    # df2_list = list(df2.to_records(index=False))
    df1['sid'].isin(df2['sid'])
    return df1[~df1['sid'].isin(df2['sid'])]
df5 = difference(young_sailors, salty_sailors)
df5

     sid   sname  rating  age
1  18869  Morgan       6   26
2  63940    Anne       4   21
3  21869    Jack       9   27

The output for `difference(young_sailors, salty_sailors)` should be:

|   | sid   | sname    | rating | age |
|---|-------|----------|--------|-----|
| 1 | 18869.0 | Morgan   | 6.0      | 26.0  | 
| 2 | 63940.0 | Anne     | 4.0      | 21.0  | 
| 3 | 21869.0 | Jack     | 9.0      | 27.0  |

In [ ]:
grader.check("q5")

q5 results: All test cases passed!

## Exercise 6: Cross-product 

This one is also harder, so there is some code to start.  Think about how the new `tmp-key` column could be used ...

In [ ]:
def cross_product(in1, in2):
    # add a column "tmp-key" of zeros to df1 and df2 
    in1 = pd.concat([in1, pd.Series(0, index=in1.index, name="tmp-key")], axis=1)
    in2 = pd.concat([in2, pd.Series(0, index=in2.index, name="tmp-key")], axis=1)
    # use Pandas merge functionality along with drop 
    # to compute outer product and remove extra column
    return pd.merge(in1,in2, how='outer' , on='tmp-key').drop('tmp-key',axis=1)

df6 = cross_product(young_sailors, salty_sailors)
# df6.head()

   sid_x sname_x  rating_x  age_x  sid_y    sname_y  rating_y  age_y
0   2701   Grace         8     25   2701      Grace         8     25
1   2701   Grace         8     25  17436     Dustin         3     22
2   2701   Grace         8     25  45433      Balon         7     39
3   2701   Grace         8     25  22689      Euron        10     35
4   2701   Grace         8     25  46535  Victarion         2     37

The output of `cross_product(young_sailors, salty_sailors)` should be: 

|   | sid_x | sname_x  | rating_x | age_x | sid_y  | sname_y | rating_y | age_y |
|---|-------|----------|--------|-----|-------|--------|-----|----|
| 0 | 2701  | Grace    | 8      | 25  | 2701  | Grace  | 8   | 25 |
| 1 | 2701  | Grace    | 8      | 25  | 17436 | Dustin | 3   | 22 |
| 2 | 2701  | Grace    | 8      | 25  | 45433 | Balon  | 7   | 39 | 
| 3 | 2701  | Grace    | 8      | 25  | 22689 | Euron  | 10  | 35 |
| 4 | 2701  | Grace    | 8      | 25  | 46535 | Victarion | 2   | 37 |
| 5 | 18869 | Morgan   | 6      | 26  | 2701  | Grace  | 8   | 25 |
|   | ...   | ...      | ...    | ... | ...   | ...    | ... | ... |

There should be 25 entries.

In [ ]:
grader.check("q6")

q6 results: All test cases passed!

## Exercise 7: Theta-Join 

Complete a function for theta-join.  Consider using two other relational operators.

In [ ]:
def theta_join(df1, df2, condition):
    
    return  select(cross_product(df1, df2), condition)

df7 = theta_join(young_sailors, salty_sailors, lambda x: x["age_x"] > x["age_y"])
df7

    sid_x sname_x  rating_x  age_x  sid_y sname_y  rating_y  age_y
1    2701   Grace         8     25  17436  Dustin         3     22
5   18869  Morgan         6     26   2701   Grace         8     25
6   18869  Morgan         6     26  17436  Dustin         3     22
15  21869    Jack         9     27   2701   Grace         8     25
16  21869    Jack         9     27  17436  Dustin         3     22

The output of `theta_join(young_sailors, salty_sailors, lambda x: x["age_x"] > x["age_y"])` should be: 

|   | sid_x | sname_x  | rating_x | age_x | sid_y  | sname_y | rating_y | age_y |
|---|-------|----------|--------|-----|-------|--------|-----|----|
| 0 | 2701  | Grace    | 8      | 25  | 17436 | Dustin | 3   | 22 |
| 5 | 18869 | Morgan   | 6      | 26  | 2701  | Grace  | 8   | 25 |
| 6 | 18869 | Morgan   | 6      | 26  | 17436 | Dustin | 3   | 22 | 
| 15| 21869 | Jack     | 9      | 27  | 2701  | Grace  | 8   | 25 |
| 16| 21869 | Jack     | 9      | 27  | 17436 | Dustin | 3   | 22 |

In [ ]:
grader.check("q7")

q7 results: All test cases passed!

## Exercise 8: Natural Join 

Implement a function to return the natural join.  Try to implement this using other relational operators.

In [ ]:
def natural_join(df1, df2, attr):
    
    return select(cross_product(df1, df2),lambda x: x[attr+'_x'] == x[attr+'_y'])


all_sailors = union(young_sailors, salty_sailors)
df8 = natural_join(all_sailors, reservations, "sid")
df8.head()

    sid_x   sname  rating  age  sid_y    bid  day
12  18869  Morgan       6   26  18869  50041  3/2
19  18869  Morgan       6   26  18869  41116  3/4
26  63940    Anne       4   21  63940  54505  3/3
30  21869    Jack       9   27  21869  41116  3/1
34  21869    Jack       9   27  21869  58324  3/2

The output of the natural join is: 

|   | sid_x |	sname |	rating | age  | sid_y | bid | day |
|---|-------|---------|--------|------|-------|-----|-----|
| 12 |	18869 |	Morgan | 6 | 26 | 18869 | 50041 | 3/2 |
| 19 |	18869 |	Morgan | 6 | 26 | 18869 | 41116 | 3/4 |
| 26 |	63940 |	Anne | 4 | 21 |	63940 |	54505 |	3/3 |
| 30 |	21869 |	Jack | 9 | 27 |	21869 |	41116 |	3/1 |
| 34 |	21869 |	Jack | 9 | 27 |	21869 |	58324 |	3/2 |
| 38 |	21869 |	Jack | 9 | 27 |	21869 |	50041 |	3/3 |
| 45 |	17436 |	Dustin | 3 | 22 |	17436 |	50041 |	3/3 |
| 51 |	45433 |	Balon |	7 |	39 |	45433 |	35168 |	3/1 |
| 57 |	45433 |	Balon |	7 |	39 |	45433 |	41116 |	3/3 |
| 63 |	22689 |	Euron |	10 | 35 |	22689 |	41116 |	3/2 |

In [ ]:
grader.check("q8")

q8 results: All test cases passed!